mixin callbacks()

  .callbacks
    .callbacks__callback.js-callbacks__callback(data-type="start") onStart
    .callbacks__callback.js-callbacks__callback(data-type="change") onChange
    .callbacks__callback.js-callbacks__callback(data-type="finish") onFinish