.callbacks {
  &__callback {
    display: inline-block;
    background-color: rgba(251, 229, 213, 0.5);
    font-size: 24px;
    padding: 10px;
    border: 5px solid #fbe5d5;
    &_active {
      background: #73b9f2;
    }
  }
}