mixin callbacks-demo()

  .callbacks-demo
    .callbacks-demo__callback-demo.js-callbacks-demo__callback-demo(data-type="start") onStart
    .callbacks-demo__callback-demo.js-callbacks-demo__callback-demo(data-type="change") onChange
    .callbacks-demo__callback-demo.js-callbacks-demo__callback-demo(data-type="finish") onFinish