@import './checkbox/checkbox.scss';

.demo-slider {
  display: flex;
  justify-content: space-between;
  &__panel {
    max-width: 400px;
    background: #fbe5d5;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__text{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 10px;
  }
  &__input{
    width: 80px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: right;
    &_small {
      width: 40px;
    }
  }
  &__select {
    width: 80px;
    padding: 0px 2px;
    border: 2px solid #242424;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    box-sizing: content-box;
  }
  &__checkbox {
    margin-top: 20px;
  }
  &__double {
    margin-top: 61px;
  }
  &__plugin {
    width: 100%;
    max-width: 650px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &_ver {
      flex-direction: row-reverse;
      justify-content: initial;
    }
  }
  &__callbacks {
    margin: 0 auto;
  }
  &__callback {
    display: inline-block;
    background-color: rgba(251, 229, 213, 0.5);
    font-size: 24px;
    padding: 10px;
    border: 5px solid #fbe5d5;
  }
  &__slider {
    height: 150px;
    &_ver {
      height: auto;
    }
  }
}