include ../text-input/text-input.pug
include ../checkbox/checkbox.pug
include ../callbacks-demo/callbacks-demo.pug
include ../example-slider/example-slider.pug

mixin demo-slider(data)

  .demo-slider
    .demo-slider__panel
      .demo-slider__column
        .demo-slider__text-input.js-demo-slider__text-input
          +text-input({ name: 'min' })
        .demo-slider__text-input.js-demo-slider__text-input
          +text-input({ name: 'from' })
        .demo-slider__text-input.js-demo-slider__text-input
          +text-input({ name: 'scin' })
        .demo-slider__checkbox.js-demo-slider__checkbox.demo-slider__checkbox_with_margin
          +checkbox({ label: 'isDouble' })
        .demo-slider__checkbox.js-demo-slider__checkbox
          +checkbox({ label: 'hasTips' })
      .demo-slider__column
        .demo-slider__text-input.js-demo-slider__text-input
          +text-input({ name: 'max' })
        .demo-slider__text-input.js-demo-slider__text-input
          +text-input({ name: 'to' })
        .demo-slider__text-input.js-demo-slider__text-input
          +text-input({ name: 'step' })
        .demo-slider__text-input.js-demo-slider__text-input
          +text-input({ name: 'scaleLimit', isSmall: true })
        .demo-slider__checkbox.js-demo-slider__checkbox
          +checkbox({ label: 'isVertical' })
        .demo-slider__checkbox.js-demo-slider__checkbox
          +checkbox({ label: 'hasMinMax' })
        .demo-slider__checkbox.js-demo-slider__checkbox
          +checkbox({ label: 'hasScale' })
    .demo-slider__plugin.js-demo-slider__plugin
      .demo-slider__callbacks.js-demo-slider__callbacks
        +callbacks-demo()
      .demo-slider__example-slider.js-demo-slider__example-slider
        +example-slider(data)