doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title More sliders
  body
    .more-sliders.more-sliders__flex
      .more-sliders__column
        .more-sliders__text orange
        .more-sliders__plugin.more-sliders__plugin1
        .more-sliders__flex
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin2
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin3
        .more-sliders__plugin.more-sliders__plugin4
        .more-sliders__plugin.more-sliders__plugin5
      .more-sliders__column
        .more-sliders__text darkcongo
        .more-sliders__plugin.more-sliders__plugin6
        .more-sliders__flex
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin7
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin8
        .more-sliders__plugin.more-sliders__plugin9
        .more-sliders__plugin.more-sliders__plugin10
      .more-sliders__column
        .more-sliders__text whitered
        .more-sliders__plugin.more-sliders__plugin11
        .more-sliders__flex
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin12
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin13
        .more-sliders__plugin.more-sliders__plugin14
        .more-sliders__plugin.more-sliders__plugin15
      .more-sliders__column
        .more-sliders__text azure
        .more-sliders__plugin.more-sliders__plugin16
        .more-sliders__flex
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin17
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin18
        .more-sliders__plugin.more-sliders__plugin19
        .more-sliders__plugin.more-sliders__plugin20
      .more-sliders__column
        .more-sliders__text indigo
        .more-sliders__plugin.more-sliders__plugin21
        .more-sliders__flex
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin22
          .more-sliders__plugin.more-sliders__ver.more-sliders__plugin23
        .more-sliders__plugin.more-sliders__plugin24
        .more-sliders__plugin.more-sliders__plugin25