@import "../plugin/range-slider.scss";

.more-sliders {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  justify-content: space-evenly;
  &__vertical-sliders {
    display: flex;
    justify-content: space-evenly;
  }
  &__column {
    width: 320px;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__text {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__slider {
    margin-bottom: 100px;
    height: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    &_vertical {
      height: 320px;
      width: 50px;
    }
    &_with-margin {
      margin-top: 10px;
    }
  }
}
