doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    title More sliders
  body
    .more-sliders
      .more-sliders__column
        .more-sliders__text orange
        .more-sliders__slider.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true", data-scin="orange")
        .more-sliders__vertical-sliders
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true" data-is-vertical="true", data-scin="orange")
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-vertical="true", data-has-limits="true", data-scin="orange")
        .more-sliders__slider.js-more-sliders__slider(data-min=2, data-max=5, data-to=3, data-step=0.5, data-has-limits="true", data-scin="orange")
        .more-sliders__slider.js-more-sliders__slider(data-min=-1000, data-max=1000, data-from=-1000, data-to=1000, data-is-double="true", data-has-limits="true", data-scin="orange")
      .more-sliders__column
        .more-sliders__text darkcongo
        .more-sliders__slider.more-sliders__slider_with-margin.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true", data-scin="darkcongo")
        .more-sliders__vertical-sliders
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true" data-is-vertical="true", data-scin="darkcongo")
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-vertical="true", data-has-limits="true", data-scin="darkcongo")
        .more-sliders__slider.js-more-sliders__slider(data-min=2, data-max=5, data-to=3, data-step=0.5, data-has-limits="true", data-scin="darkcongo")
        .more-sliders__slider.js-more-sliders__slider(data-min=-1000, data-max=1000, data-from=-1000, data-to=1000, data-is-double="true", data-has-limits="true", data-scin="darkcongo")
      .more-sliders__column
        .more-sliders__text whitered
        .more-sliders__slider.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true", data-scin="whitered")
        .more-sliders__vertical-sliders
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true" data-is-vertical="true", data-scin="whitered")
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-vertical="true", data-has-limits="true", data-scin="whitered")
        .more-sliders__slider.js-more-sliders__slider(data-min=2, data-max=5, data-to=3, data-step=0.5, data-has-limits="true", data-scin="whitered")
        .more-sliders__slider.js-more-sliders__slider(data-min=-1000, data-max=1000, data-from=-1000, data-to=1000, data-is-double="true", data-has-limits="true", data-scin="whitered")
      .more-sliders__column
        .more-sliders__text azure
        .more-sliders__slider.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true", data-scin="azure")
        .more-sliders__vertical-sliders
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true" data-is-vertical="true", data-scin="azure")
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-vertical="true", data-has-limits="true", data-scin="azure")
        .more-sliders__slider.js-more-sliders__slider(data-min=2, data-max=5, data-to=3, data-step=0.5, data-has-limits="true", data-scin="azure")
        .more-sliders__slider.js-more-sliders__slider(data-min=-1000, data-max=1000, data-from=-1000, data-to=1000, data-is-double="true", data-has-limits="true", data-scin="azure")
      .more-sliders__column
        .more-sliders__text indigo
        .more-sliders__slider.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true", data-scin="indigo")
        .more-sliders__vertical-sliders
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-double="true", data-has-limits="true" data-is-vertical="true", data-scin="indigo")
          .more-sliders__slider.more-sliders__slider_vertical.more-sliders__ver.js-more-sliders__slider(data-min=0, data-max=1000, data-from=300, data-to=700, data-is-vertical="true", data-has-limits="true", data-scin="indigo")
        .more-sliders__slider.js-more-sliders__slider(data-min=2, data-max=5, data-to=3, data-step=0.5, data-has-limits="true", data-scin="indigo")
        .more-sliders__slider.js-more-sliders__slider(data-min=-1000, data-max=1000, data-from=-1000, data-to=1000, data-is-double="true", data-has-limits="true", data-scin="indigo")