@import "../src/plugin/range-slider.scss";

.test-page{
  margin: 0 auto;
  max-width: 1000px;
  height: 50px;
  &__plugin {
    margin-top: 100px;
    height: 50px;
    //background-color: rgba(21,69,225,0.05);
  }
  &__plugin1{
  }
  &__plugin2{

  }
  &__plugin3{

  }
}